<a href="https://colab.research.google.com/github/DeffinP/Kelompok04_StudyCase02_EDA/blob/main/Studi_Kasus_2_Kelompok_4A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###*STUDI KASUS 02 - Academic Analytics*
#####*Kelompok 4A*
1.   Deffin Purnama Noer (11210940000036) - (Ketua Kelompok)
2.   Lariesa Ananda Putri (11210940000006)
3.   Azka Azzahra Khairiyah (11210940000012)
4.   Syarifah Syila Alkadrie (11210940000019)
5.   Najla Putri Dwijani (11210940000023)
6.   Zahra Tifani Apriliana (11210940000029)
7.   Nadya Rifqah Khairani (11210940000041)

In [ ]:
# Loading Data:
import pandas as pd

try: 
    mengajar = pd.read_csv("data/mengajar.csv", low_memory = False, encoding='utf8')
    dosen = pd.read_csv("data/tb_dosen.csv", low_memory = False, encoding='utf8')
    kelas = pd.read_csv("data/tb_kelas.csv", low_memory = False, encoding='utf8')
    krs = pd.read_csv("data/tb_krs.csv", low_memory = False, encoding='utf8')
    mahasiswa = pd.read_csv("data/tb_mahasiswa.csv", low_memory = False, encoding='utf8')
    matkul = pd.read_csv("data/tb_mata_kuliah.csv", low_memory = False, encoding='utf8')
    nilai = pd.read_csv("data/tb_nilai.csv", low_memory = False, encoding='utf8')
except:
    !mkdir data
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/mengajar.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_dosen.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_kelas.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_krs.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_mahasiswa.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_mata_kuliah.csv
    !wget -P data/ https://raw.githubusercontent.com/DeffinP/Kelompok04_StudyCase02_EDA/main/data/tb_nilai.csv

mengajar = pd.read_csv("data/mengajar.csv", low_memory = False, encoding='utf8')
dosen = pd.read_csv("data/tb_dosen.csv", low_memory = False, encoding='utf8')
kelas = pd.read_csv("data/tb_kelas.csv", low_memory = False, encoding='utf8')
krs = pd.read_csv("data/tb_krs.csv", low_memory = False, encoding='utf8')
mahasiswa = pd.read_csv("data/tb_mahasiswa.csv", low_memory = False, encoding='utf8')
matkul = pd.read_csv("data/tb_mata_kuliah.csv", low_memory = False, encoding='utf8')
nilai = pd.read_csv("data/tb_nilai.csv", low_memory = False, encoding='utf8')

mengajar.shape, dosen.shape, kelas.shape, krs.shape, mahasiswa.shape, matkul.shape, nilai.shape

((14, 4), (4, 6), (4, 4), (7, 6), (15, 8), (9, 3), (33, 7))

In [ ]:
#import pandas as pd
#mengajar = pd.read_csv("/content/mengajar.csv", low_memory = False, encoding='utf8')
#dosen = pd.read_csv("/content/tb_dosen.csv", low_memory = False, encoding='utf8')
#kelas = pd.read_csv("/content/tb_kelas.csv", low_memory = False, encoding='utf8')
#krs = pd.read_csv("/content/tb_krs.csv", low_memory = False, encoding='utf8')
#mahasiswa = pd.read_csv("/content/tb_mahasiswa.csv", low_memory = False, encoding='utf8')
#matkul = pd.read_csv("/content/tb_mata_kuliah.csv", low_memory = False, encoding='utf8')
#nilai = pd.read_csv("/content/tb_nilai.csv", low_memory = False, encoding='utf8')

#mengajar.shape, dosen.shape, kelas.shape, krs.shape, mahasiswa.shape, matkul.shape, nilai.shape

#Nomor 1 dan 2
1. Apakah ada dosen yang cenderung memberikan nilai cenderung lebih tinggi (atau lebih rendah) dibandingkan dosen lainnya?
2. Menurut data yang ada, apakah terdapat perbedaan dalam pemberian nilai antara dosen dengan Pendidikan Terakhir S3 dan S2?

In [ ]:
nilai_dosen = nilai.groupby(nilai['NIDN']).mean()[['nilai']]
nilai_dosen = nilai_dosen.rename({'nilai': 'mean_nilai'}, axis=1) 
nilai_dosen = pd.merge(dosen, nilai_dosen, left_on='NIDN', right_index=True)
nilai_dosen = nilai_dosen[['NIDN', 'nama', 'mean_nilai']]

sb = nilai.groupby(nilai['NIDN']).std()[['nilai']]
sb = sb.rename({'nilai': 'std_nilai'}, axis=1) 

nilai_dosen = nilai_dosen.set_index(['NIDN']) 
nilai_dosen = pd.concat([nilai_dosen, sb], axis=1)
nilai_dosen

               nama  mean_nilai  std_nilai
NIDN
123    Andri Basuki   85.750000   7.741355
234        zulfikar   80.428571  15.883504
345   Annisa Fitria   60.090909  16.220077
787            yudi   70.571429  13.010984

# Interpretasi 01: Perbedaan Pemberian Nilai oleh Dosen

Berdasarkan tabel di atas mengenai dosen yang cenderung memberikan nilai lebih tinggi atau lebih rendah dibandingkan dosen lainnya, sepertinya terdapat indikasi yang kuat bahwa Pak Andri Basuki merupakan dosen yang cenderung memberikan nilai yang lebih tinggi untuk para mahasiswanya dan Ibu Annisa Fitria merupakan dosen yang cenderung memberikan nilai yang rendah untuk para mahasiswanya.  Hal ini pun terlihat dari simpangan baku serta rata-rata nilai Pak Andri Basuki yang menunjukkan bahwa nilai dari standar deviasi Pak Andri Basuki lebih kecil dari nilai rata-ratanya. Sedangkan nilai dari standar deviasi Ibu Annisa Fitria lebih besar daripada nilai rata-ratanya. Sehingga dapat disimpulkan bahwa Pak Andri Basuki memang merupakan dosen yang cenderung memberikan nilai lebih tinggi untuk para mahasiswanya.

#Interpretasi 02: Nilai Berdasarkan Tingkat Pendidikan

Pada tabel di atas, sepertinya dosen yang memiliki tingkat pendidikan S3 cenderung memberikan nilai lebih tinggi dibandingkan dosen yang memiliki tingkat pendidikan S2. Dapat dilihat pada dosen yang berpendidikan S3, yaitu Pak Andri Basuki dan Pak Zulfikar, nilai dari simpangan baku adalah rendah dan nilai dari rata-ratanya tinggi yang menunjukkan bahwa standar deviasinya baik. Sedangkan untuk dosen yang berpendidikan S2, yaitu Ibu Annisa Fitria dan Pak Yudi, nilai dari simpangan baku adalah tinggi dan nilai dari rata-ratanya adalah rendah yang menunjukkan bahwa standar deviasinya tidak baik. Sehingga dapat disimpulkan bahwa untuk dosen yang berpendidikan S3 cenderung memberikan nilai lebih tinggi dibandingkan dosen yang berpendidikan S2.

#Nomor 3
Apakah terdapat perbedaan performa akademik antara mahasiswa yang berasal dari Madrasah/SMK dan SMU?

In [ ]:
asal_mahasiswa = mahasiswa[['nim','nama','Asal_Sekolah']]
nilai_mahasiswa = nilai[['nim','nilai']]
data_gabungan = pd.merge(asal_mahasiswa, nilai_mahasiswa, on='nim', how='left')
data_gabungan = data_gabungan.set_index(['Asal_Sekolah', 'nim', 'nama'])
data_gabungan = data_gabungan.groupby(['Asal_Sekolah'])[['nilai']].mean()
data_gabungan = data_gabungan.rename({'nilai': 'mean_nilai'}, axis=1)
data_gabungan

              mean_nilai
Asal_Sekolah
MA             70.777778
SMK            82.818182
SMU            65.846154

#Interpretasi 03: Performa Akademik Berdasarkan Asal Sekolah Mahasiswa

Berdasarkan data pada tabel di atas, kemungkinan terdapat perbedaan performa  akademik antara mahasiswa yang berasal dari MA, SMU, dan SMK. Sesuai dengan hasil rata-rata pada tabel di atas, dapat diindikasikan bahwa mahasiswa yang berasal dari SMK memiliki rata-rata nilai yang cenderung lebih tinggi daripada mahasiswa yang berasalah dari MA dan SMU. Oleh karena itu, hal ini menunjukkan bahwa terdapat kemungkinan untuk mahasiswa lulusan SMK memiliki performa akademik yang lebih baik dibandingkan mahasiswa lulusan MA dan SMU.

#Nomor 4
Apakah ada perbedaan yang nampak di data terhadap kemampuan akademik antara mahasiswa dan mahasiswi?

In [ ]:
gender_mahasiswa = mahasiswa[['nama','Gender']]
nilai_gender = nilai.groupby(mahasiswa['Gender']).mean()[['nilai']]
nilai_gender = nilai_gender.rename({'nilai': 'mean_nilai'}, axis=1)
nilai_gender

        mean_nilai
Gender
Pria     81.222222
Wanita   74.833333

#Interpretasi 04: Kemampuan Akademik antara Mahasiswa dan Mahasiswi

Berdasarkan data pada tabel di atas, terdapat perbedaan kemampuan akademik antara mahasiswa dan mahasiswi. Hal ini sesuai dengan rata-rata nilai pada tabel bahwa nilai rata-rata mahasiswa lebih tinggi dibandingkan nilai rata-rata mahasiswi. Sehingga terdapat kemungkinan bahwa terdapat perbedaan kemampuan akademik antara mahasiswa dan mahasiswi.

#Nomor 5
 Apakah ada perbedaan prestasi akademik yang nampak di data antar angkatan mahasiswa?

In [ ]:
nilai_angkatan = nilai.groupby(mahasiswa['Angkatan']).mean()[['nilai']] 
nilai_angkatan = nilai_angkatan.rename({'nilai': 'mean_nilai'}, axis=1)
nilai_angkatan

          mean_nilai
Angkatan
2019.0     85.750000
2020.0     70.571429

#Interpretasi 05: Prestasi Akademik antar Angkatan Mahasiswa

Sesuai dengan data di atas, terdapat perbedaan prestasi akademik antar angkatan mahasiswa. Hal ini dapat dilihat dari nilai rata-rata antara angkatan 2019 dan angkatan 2020 di mana nilai rata-rata angkatan 2019 lebih tinggi dibandingkan dengan nilai rata-rata angkatan 2020. Sehingga dapat disimpulkan bahwa menurut data di atas, prestasi akademik antara mahasiswa angkatan 2019 dan mahasiswa angkatan 2020 memiliki perbedaan.

#Nomor 6
Apakah ada permasalahan di data atau informasi lain yang anda temukan di data?

#Interpretasi 06: Permasalahan Informasi Pada Data

Melalui data-data di atas, terdapat beberapa permasalahan di data atau informasi di dalamnya, seperti terdapat beberapa tabel yang tidak dibutuhkan seperti tabel KRS dan tabel kelas, serta terdapat banyak variabel yang tidak terpakai seperti kode kelas, asal_daerah, telephone, email, dll., juga terdapat banyak data mahasiswa yang lebih dari satu sehingga dapat disebut sebagai *data duplicate* atau *noise*.

#Kesimpulan :
Berdasarkan Data Wrangling yang telah kami lakukan dapat diindikasikan bahwa terdapat perbedaan dalam pemberian nilai lebih tinggi atau rendah oleh dosen. Terdapat juga perbedaan dalam pemberian nilai antara dosen dengan Pendidikan Terakhir S3 dan S2.
Selain itu juga terdapat perbedaan kemampuan akademik dalam berbagai aspek, yaitu:

• Terdapat perbedaan performa akademik antara mahasiswa yang berasl dari Madrasah, SMK dan SMU.

• Terdapat perbedaan pada data terhadap kemampuan akademik antara mahasiswa dan mahasiswi.

• Terdapat perbedaan prestasi akademik pada data antar angkatan mahasiswa.

Selain dari yang di atas, juga terdapat banyak data mahasiswa yang lebih dari satu, banyak variabel yang tidak terpakai, ditemukan tabel yang tidak diperlukan seperti tabel KRS dan kelas.